@import "../abstracts/variables";

.book-market__btn{
  width: 242px;
  height: 40px;
  background-color: $secondary;
  border-radius: 4px;
  color: $default-color;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  border: none;
}

.book-market__special-btn{
  width: 242px;
  height: 40px;
  background-color: $end-btn-color;
  border-radius: 4px;
  color: $default-color;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  border: none;
}