@import "../abstracts/variables";

.icon__hit{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  width: 36px;
  height: 32px;
  background-color: $icon-hit-color;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: $default-color;
  position: absolute;
  top: 0;
  left: 0;
}

.icon__new{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  width: 47px;
  height: 32px;
  background-color: $icon-new-color;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: $default-color;
  position: absolute;
  top: 0;
  left: 0;
}

.icon__hit-off{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  width: 70px;
  height: 32px;
  background-color: $icon-off-color;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: $default-color;
  position: absolute;
  top: 0;
  left: 40px;
}

.icon__new-off{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  width: 70px;
  height: 32px;
  background-color: $icon-off-color;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: $default-color;
  position: absolute;
  top: 0;
  left: 51px;
}

.icon__off{
  display: flex;
  font-size: 16px;
  font-weight: 400;
  width: 70px;
  height: 32px;
  background-color: $icon-off-color;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: $default-color;
  position: absolute;
  top: 0;
  left: 0;
}

.icon__chat{
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: $header-chat-color;
  position: fixed;
  top: 707px;
  right: 273px;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 100;
}