@import "../abstracts/variables";

body{
  font-family: 'Cabin', sans-serif;
  background-color: $primary-color;
}

a{
  text-decoration: none;
  color: black;
}

.wrapper{
  box-sizing: border-box;
  width: 1400px;
  margin: 0 auto;
}

h2{
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p{
  font-weight: 400;
  color: $off-price-color;
  margin-bottom: 8px;
}

span{
  font-size: 24px;
  font-weight: 500;
  color: $price-color;
}