$primary-color: #EEEEEF;
$secondary: #4C394E;
$header-chat-color: #10BBD5;
$default-color: #FFFFFF;
$icon-hit-color: #4200FF;
$icon-new-color: #AF39E7;
$icon-off-color: #EA33C0;
$border-line-color: #A8A8A8;
$off-price-color: #8E8E8E;
$end-btn-color: #4D762D;
$price-color: #E90000;