@import "../abstracts/variables";

footer{
  display: flex;
  background-color: $secondary;
  padding: 36px 300px;
  justify-content: space-between;
}

.footer-text{
  color: $default-color;
  font-size: 16px;
  font-weight: 400;
}