@import "../abstracts/variables";

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: $header-chat-color;
}

.header__top {
  height: 72px;
  display: flex;
  padding: 16px 52px;
  align-items: center;
  background-color: $header-chat-color;
  justify-content: space-between;
}

.header__bottom--back-menu-color {
  background-color: $default-color;
}

.header__top--cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  & span {
    color: $default-color;
  }
}

.header__top--cart-icon{
  position: relative;

  & button{
    border: none;
    background: none;
  }

  & p{
    position: absolute;
    top: 8px;
    right: 15px;
    color: black;
    display: flex;
    font-size: 12px;
  }
}

.header__bottom{
  display: flex;
  height: 32px;
  justify-content: space-between;
  padding: 4px 52px;
  align-items: center;
  box-sizing: border-box;
  background-color: $default-color;
}

.header__bottom--right-content{
  display: flex;
  gap: 40px;
}