@import "../abstracts/variables";

.main{
  padding: 0 52px;
  margin: 168px auto;
}

.main__header{
  font-size: 32px;
  font-weight: 600;
  margin-top: 32px;
  border-bottom: 1px solid $border-line-color;
  padding-bottom: 23px;
  margin-bottom: 24px;
}

.book-market{
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.book-market__book{
  display: flex;
  width: 306px;
  height: 512px;
  border: 1px solid $border-line-color;
  box-sizing: border-box;
  padding: 32px;
  flex-direction: column;
  gap: 16px;
  background-color: $default-color;
}

.line{
  height: 1px;
  background-color: $border-line-color;
  margin: 5px 0;
}

.book-market__book-img{
  display: flex;
  width: 242px;
  height: 280px;
  justify-content: center;
  position: relative;
}

.off-price{
  text-decoration: line-through;
  color: $off-price-color;
  margin-left: 24px;
}

